__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

vendor/assimp/*
!vendor/assimp/.gitkeep

models_in/**
!models_in/README.md
!models_in/.gitkeep

models_out/**
!models_out/README.md
!models_out/.gitkeep

.idea/
.vscode/
*.log
